* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
.wrapper {
  max-width: 1920px;
  overflow: hidden;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 25px;
}

.app__header{
  margin-bottom: 120px;
}

.app__body{
   display: inline-grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   row-gap: 30px;
   column-gap: 30px;
}